{% extends "base-garden.njk" %}

{% block title %}Hey you!{% endblock %}

{% block mainAttrs %} class="garden-entry"{% endblock %}

{% block terminal %}
<pre class="terminal">



  <a href="/">← index</a>

  001. Hey you!

  Yeah you, how are you?
  If I could hear you, I'd want to know, so really, how are you?

  Let me share a little thought with you.
  We're communicating you and I, through this neat little abstraction.

  And it's been quite the journey to get here.
  Eons of evolution led to our use of tools, then millennia to fall in to some sort of order.
  We have had some rough centuries, but all along we kept connecting the world, somehow.

  Now look around! We zap silicon into thinking, rendering shapes and letters.
  With it, we can transmit information at the speed of light and across the globe.
  Just look at us right now, a moment in my time and a thought in my head went in.
  Sometime later, now, a moment in your time and a thought in your head come out.

  In the most unnatural way, we're doing the most natural thing humans do.

  So, if I may ask you one favor, take it in with me.
  Let yourself watch a minute pass. Ever notice how many of those you miss?

  <button class="countdown-btn" data-seconds="60">01:00 ██████████</button>

  Time will run from you if you don't watch it — but also if you watch it too. I'm sorry.
  Please, just don't spend all your time looking for the best way to spend your time.
  Just look around from time to time and try to look at and not through, now is enough.

  I know these are just pixels and moments, but this one was between me and you.

  Thank you,

  - Axel
</pre>
{% endblock %}
