{% extends "base-garden.njk" %}

{% block title %}001. Hey you! · garden{% endblock %}

{% block mainAttrs %} class="garden-entry"{% endblock %}

{% block terminal %}
<pre class="terminal">



  <a href="/">← index</a>



  001. Hey you!

  Yeah you, how are you? I know you can't tell me, but tell me.
  If I could, I'd want to know, so really, how are you?

  We're communicating you and I, through this neat little abstraction.

  Eons of evolution to use tools, eons of using tools to get to this level.
  Now we zap silicone into thinking and rendering shapes, like these letters.
  The culmination of that lets the thoughts in my head make their way to yours.

  In a very unnatural way, we're doing just about the most natural thing humans do.
  So if I may ask you a favor, and I know it is soon, take it in with me.
  Let yourself watch a minute pass, notice how many of those you miss.

  <button class="countdown-btn" data-seconds="60">01:00 ██████████</button>

  Time will run from you if you don't watch it.

  That's not a call to rush to treat it as a precious commodity.
  There are finite moments that form the infinity of existence.
  All you have to do is remember to look at, not through

  - Axel
</pre>
{% endblock %}
