{# Strava stats grid (Type / Distance / Time / Gain). Caller passes `strava`. #}
<dl class="strava-stats">
  <div><dt>Type</dt><dd>{{ strava.type }}</dd></div>
  <div><dt>Distance</dt><dd>{{ strava.distance }} mi</dd></div>
  <div><dt>Time</dt><dd>{{ strava.duration }}</dd></div>
  <div><dt>Gain</dt><dd>{{ strava.elevation }} ft</dd></div>
</dl>
