{#- Footer -#}
<a href="#">↑ back to top</a>

Made by Axel <span class="logo">·>·</span> with &lt;3 and Claude.
MIT License. <a href="https://github.com/aesv/aesv.io">See the source code ↗</a>. {{ now | date('Y') }}.