{%- if grid.isTerminal -%}
{% extends "base-text.njk" %}
{% block content %}
500 — Server Error
==================

Something went wrong.

Try: {{ site.url }}/
{% endblock %}
{%- else -%}
{% extends "base.njk" %}
{% block title %}500 — {{ site.name }}{% endblock %}
{% block terminal %}
<pre class="terminal">

500 — Server Error

Something went wrong.

<a href="/">Return home</a>
</pre>
{% endblock %}
{%- endif -%}
