<meta name="color-scheme" content="light dark">
<link rel="dns-prefetch" href="https://cloud.umami.is">
<link rel="alternate" type="application/rss+xml" title="aesv.io / feed" href="/feed.xml">
<meta name="fediverse:creator" content="@aes@techhub.social">
<link rel="me" href="https://github.com/4esv">
<link rel="me" href="https://techhub.social/@aes">
